body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

div {
    text-align: center;
    margin-top: 30px; 
}

img {
    max-width: 100%; 
    height: auto;
    margin-top: 20px;
}

.button-container {
    text-align: center;
    margin-top: auto; 
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: #64FCD9;
    border: 2px solid #000000; 
    border-radius: 25px;
    color: #000000;
    padding: 50px 50px;
    font-size: 30px; 
    cursor: pointer;
    margin: 20px;
    font-family: 'Merriweather', serif;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #333333;
    color: #FFFFFF;
    transform: scale(1.05);
}

.login-button {
    padding: 25px 50px; 
}

.signup-button {
    padding: 5px 20px; 
}